*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #c4928b;
    /* background: linear-gradient(357deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,212,255,1) 100%); */
}

.container {
    background-color: #f80101; 
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
    
    
}

.timerDisplay{
    position: relative;
    width: 110%;
    background: linear-gradient(
        -135deg, #ff4e08, #8d1708);
    left: -5%;
    padding: 40px 0;
    font-family: courier, monospace;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 139, 253, 0.25); 
}

.buttons{
    width: 80%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.buttons button{
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: bold;
    color: #ff0000;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

}